.phone_Image {
  display: none;
}

@media (max-width: 560px) {

  .phone_Image {
    display: block;
  }

  .carousel,
  #demo {
    display: none;
  }
}

.crousel_timer {
  position: relative;
}

#demo {
  font-family: 'Pattaya',
    sans-serif;
  width: fit-content;
  background-image: linear-gradient(to bottom right, #9453A6, #8cBF3F, #f2cc0f, #f2f2f2, #9453A6);
  color: #000;
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  font-size: 1.3em;
  font-weight: 500;
  border: 3px solid #000;
  z-index: 1;
  text-align: center;
}

.row .col {
  display: flex;
  justify-content: center;
}

.card {
  margin-bottom: 1em;
  background-color: #92718A;
}

.container1 {
  background-color: rgba(0, 0, 0, .5) !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}


.pop_Up1 {
  text-align: center;
  font-family: Georgia, serif;
  width: 100%;
  max-width: 300px;
  margin: 15% auto;
  padding: 20px;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
}

.pop_Up1 a {
  background-color: crimson;
  color: #fff;
  text-decoration: none;
  padding: 6px 10px;
}

.close {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: crimson;
  color: #fff;
  text-decoration: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 5px;
}